/* Style page container / major components / header wrapper / main wrapper / aside wrapper */
body {
	margin: 0px;
	background-color: #023047;
	/* Set dark blue background */
}

div.page-container {
	background-color: #8ecae6;
	/* Set blue background */
}

header {
	display: flex;
	justify-content: center;
	margin: 0 0 15px 0;
	background-color: #023047;
}

div.header-content-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	width: 100%;
	padding: 30px 0 0 0;
}

main {
	display: flex;
	justify-content: center;
	margin: 0 0 15px 0;
}

div.main-content-wrapper {
	display: flex;
	/* Change the display to flex, for responsive reasons */
	column-gap: 15px;
	width: 100%;
	padding: 5px 0 15px 0;
	background-color: #219ebc;
}

aside {
	display: flex;
	justify-content: center;
}

div.aside-content-wrapper {
	display: flex;
	column-gap: 15px;
	width: 100%;
	margin: 0 0 15px 0;
}

footer {
	display: flex;
	justify-content: center;
	background-color: #023047;
}

div.footer-content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 15px 0;
}

/* Media queries */

/* Responsive layout once content equals screen size */
@media screen and (min-width: 1200px) {

	div.header-content-wrapper,
	div.main-content-wrapper,
	div.aside-content-wrapper,
	div.footer-content-wrapper {
		width: 1200px;
	}
}

@media screen and (min-width: 1500px) {

	main,
	div.aside-content-wrapper,
	div.footer-content-wrapper {
		margin-right: 10vw;
		margin-left: 10vw;
	}

	main {
		background-color: #219ebc;
	}

	div.aside-content-wrapper,
	div.footer-content-wrapper {
		width: 100% !important;
	}

	div.footer-bottom-wrapper {
		width: 1200px !important;
	}
}

@media screen and (max-width: 900px) {

	/* Header/navigation */
	a.website-title img {
		width: 15em !important;
	}

	div.navigation-wrapper {
		width: 100%;
	}

	nav {
		display: flex;
	}

	nav div:not(.dropdown-content) {
		display: flex !important;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	nav div:not(.dropdown-content):last-of-type {
		border-width: 1px 1px 1px 0 !important;
		/* Border width 1px right, top and bottom */
	}

	nav div:not(.dropdown-content):nth-last-of-type(2) {
		border-width: 1px 0 1px 0 !important;
		/* Border width 1px right, top and bottom */
	}

	/* Footer */
	div.footer-bottom-wrapper {
		flex-direction: column;
		align-items: center !important;
	}

	div.footer-bottom-left-wrapper,
	div.footer-bottom-centre-wrapper,
	div.footer-bottom-right-wrapper {
		width: auto !important;
	}

	div.footer-bottom-wrapper p {
		text-align: center;
	}

	div.footer-bottom-left-wrapper p,
	div.footer-bottom-centre-wrapper p {
		margin: 0 0 1em 0;
	}
}

/* Extra small devices */
@media screen and (max-width: 600px) {

	/* Header/navigation */
	nav {
		flex-direction: column;
	}

	nav div:not(.dropdown-content),
	nav div:not(.dropdown-content):nth-last-of-type(2) {
		width: auto;
		border-width: 1px 1px 0 1px !important;
	}

	nav div:not(.dropdown-content):last-of-type {
		border-width: 1px !important;
	}

	nav div.current-page {
		border-width: 1px !important;
	}

	nav div.current-page+div:not(:last-of-type) {
		border-width: 0 1px !important;
	}

	nav div.current-page+div:last-of-type {
		border-width: 0 1px 1px 1px !important;
	}

	/* Main content */
	div.main-content-wrapper {
		flex-direction: column;
		row-gap: 15px;
	}

	div.main-column-1 {
		width: 90% !important;
	}

	div.main-column-2 {
		width: 75% !important;
	}

	/* Aside content */
	div.aside-content-wrapper {
		flex-direction: column;
		row-gap: 15px;
	}

	div.aside-column-1,
	div.aside-column-2 {
		width: auto !important;
	}
}

/* Style header */

/* Style website title */
div.website-title-wrapper {
	align-self: center;
}

a.website-title img {
	width: 20em;
}

/* Style the top navigation bar */
nav {
	width: 100%;
}

/* Style the navigation bar links */
nav div:not(.dropdown-content) {
	float: left;
	/* Make sure that the links stay side-by-side */
	display: block;
	/* Change the display to block, for responsive reasons */
	text-align: center;
	/* Center the text */
	text-decoration: none;
	/* Remove underline */
	border-style: solid;
	/* Solid border */
	border-width: 1px 0 1px 0;
	/* Border width 1px top and bottom */
	border-color: #fff
		/* Border colour white */
}

nav div:not(.dropdown-content) a {
	width: 100%;
}

nav div:not(.dropdown-content) button {
	width: 100%;
	padding: 15px;
	/* Add some padding */
	background-color: #023047;
	border: none;
	cursor: pointer;
}


nav div:not(.dropdown-content):first-of-type {
	border-style: solid;
	/* Solid border */
	border-width: 1px 0 1px 1px;
	/* Border width 1px left,  top and bottom */
}

nav div:not(.dropdown-content):nth-last-of-type(2) {
	border-style: solid;
	/* Solid border */
	border-width: 1px 1px 1px 0;
	/* Border width 1px right, top and bottom */
}

nav div:not(.dropdown-content):last-of-type {
	float: right;
	border-style: solid;
	/* Solid border */
	border-width: 1px;
	/* Border width 1px */
}

/* Change colour on hover/mouse-over */
nav div:not(.dropdown-content):hover,
nav div:not(.dropdown-content):hover button {
	background-color: #6ba4be;
	/* Purple background color */
	color: #ffb703;
	/* Golden text color */
}

/* Change background colour on hover/mouse-over for current page menu item */
nav div.current-page {
	background-color: #fb8500;
	/* Darker pink background color to highlight current page */
	border-style: solid;
	/* Solid border */
	border-width: 1px;
	/* Border width 1px */
	border-color: #000;
	/* Border colour black */
}

nav div.current-page button {
	background-color: #fb8500;
	/* Golden background color to highlight current page */
	color: #fff !important;
	/* White text color */
}

nav div.current-page:hover,
nav div:not(.dropdown-content).current-page:hover button {
	background-color: #ffb703;
	/* Yellow background color */
}

/* Style drop down menus */
div.dropdown-content {
	display: none;
	position: absolute;
	padding: 15px 0 15px 15px;
	background-color: #023047;
	text-align: left;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

div.dropdown-content a {
	text-decoration: none;
}

div.dropdown-content a:hover {
	color: #ffb703;
	/* Golden text color */
}

nav div:hover div.dropdown-content.services-and-facilities {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

/* Style main content */

/* Style columns in main wrapper */
div.main-column-1 {
	width: 75%;
	padding: 0 0 0 15px;
}

div.main-column-2 {
	width: 25%;
	padding: 0 15px 0 0;
}

/* Style text */
p,
p input,
button,
a,
td,
th,
li,
.images,
h1,
h2,
h3 {
	color: #fff;
	font-family: "Lora", serif;
}

p,
p input,
button,
a,
td,
th,
li,
.images {
	font-size: 1em;
	margin: 0;
	font-style: normal;
}

main p,
main h1:not(.no-margin) {
	margin: 0 0 1em 0;
}

h1 {
	font-size: 2em;
	margin: 0;
	font-weight: bold;
	font-style: normal;
	text-align: center;
}

h2 {
	font-size: 1.5em;
	margin: 0 0 1em 0;
	font-weight: bold;
	font-style: italic;
}

h2+h1 {
	margin: 0;
}

h3 {
	font-size: 1.17em;
	margin: 0;
	font-weight: bold;
	font-style: normal;
}

/* Style images */
.images {
	width: 100%;
}

/* Style aside content */
aside p,
aside li {
	margin: 0 0 0.5em 0;
}

aside ul {
	margin: 0.5em 0 0 0;
}

/* Style aside columns */
div.aside-column-1,
div.aside-column-2 {
	background-color: #219ebc;
	padding: 15px;
}

/* Services */
.services div.aside-column-1 {
	width: 40%;
}

.services div.aside-column-2 {
	width: 60%;
}

/* Contact Us */
.contact-us div.aside-column-1 {
	width: 50%;
}

.contact-us div.aside-column-2 {
	width: 50%;
}

/* My Greatest Achievement */
.my-greatest-achievement div.aside-column-1 {
	width: 50%;
}

.my-greatest-achievement div.aside-column-2 {
	width: 50%;
}

/* Style uni timetable */
#uni-timetable {
	width: 100%;
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
}

#uni-timetable td,
#uni-timetable th {
	padding: 0 5px 0 5px;
	border-right: 1px solid #000;
}

#uni-timetable tr:nth-child(4),
#uni-timetable tr:nth-child(6),
#uni-timetable tr:nth-child(7) {
	border-bottom: 1px solid #000;
}

#uni-timetable th {
	padding: 0 5px 0 5px;
	border-bottom: 1px solid #000;
}

/* Style book survey form */
#book-survey-table {
	width: 100%;
}

/* Style checkbox input */
input[type=checkbox] {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1px solid #000;
	cursor: pointer;
	vertical-align: middle;
	bottom: 2px;
}

input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
	transform: scale(1);
	opacity: 1;
}

input[type=checkbox]:before {
	display: block;
	position: absolute;
	content: "";
	left: 3px;
	top: 3px;
	right: 3px;
	bottom: 3px;
	background-color: #000;
	transition: all 150ms cubic-bezier(.445, .05, .55, .95);
	transform: scale(.9);
	opacity: 0;
}

/* Style submit/reset input */
input.submit-button,
input.reset-button {
	display: inline-block;
	/* Change the display to block, for responsive reasons */
	width: 90px;
	background-color: #fb8500;
	color: #000;
	/* Black text color */
	text-align: center;
	/* Center the text */
	padding: 15px 0;
	/* Add some padding */
	text-decoration: none;
	/* Remove underline */
	border-style: solid;
	/* Solid border */
	border-width: 1px;
	/* Border width 1px top and bottom */
	border-color: #fff
		/* Border colour white */
}

input.submit-button:hover,
input.reset-button:hover {
	background-color: #ffb703;
	/* Purple background color */
	color: #000;
	/* White text color */
	border-color: #000
		/* Border colour black */
}

input.submit-button {
	margin: 0 5px 0 0;
}

/* Style footer */
div.footer-divider {
	width: 100%;
	margin: 0 0 15px 0;
	border-style: solid;
	/* Solid border */
	border-width: 1px;
	/* Border width 1px */
	border-color: #8ecae6;
	/* Border colour blue */
}

div.footer-bottom-wrapper {
	display: flex;
	align-items: end;
	column-gap: 15px;
	width: 100%;
}

/* Style footer bottom */

/* Style footer title image */
a.footer-title img {
	width: 10em;
}

/* Style footer bottom text */
div.footer-bottom-wrapper p {
	color: #fff;
}

div.footer-bottom-left-wrapper {
	width: 100%;
	margin: 0 0 0 15px;
}

div.footer-bottom-centre-wrapper {
	text-align: right;
}

div.footer-bottom-right-wrapper {
	text-align: right;
	margin: 0 15px 0 0;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.column {
	float: right;
	width: 33.3%;
	margin-bottom: 16px;
	padding: 0 8px;

}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
	.column {
		width: 100%;
		display: block;

	}
}

/* Add some shadows to create a card effect */
.ID {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

/* Some left and right padding inside the container */
.container {
	padding: 0 16px;
}

/* Clear floats */
.container::after,
.Staff::after {
	content: "";
	clear: both;
	display: table;
}

.button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #8ECAE6;
	text-align: center;
	cursor: pointer;
	width: 100%;
}

.button:hover {
	background-color: #FB8500;
}


.role {
	font-style: italic;
	width: 100%;
	font-size: large;
}